# IntelliJ / JetBrains
.idea/
*.iml
*.iws
*.ipr

# Build outputs
target/
build/
out/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db


# Ignore MySQL data folder (local DB files)
keycloak/mysql/
